{
    "openapi": "3.0.0",
    "info": {
        "title": "PayBeer API",
        "description": "API pour le système de prépaiement du ChillOut",
        "version": "0.1"
    },
    "servers": [
        {
            "url": "https://paybeer.artefactori.ch/api",
            "description": "Serveur principal de pré-production"
        }
    ],
    "paths": {
        "/login": {
            "post": {
                "tags": [
                    "paybeer"
                ],
                "summary": "Authentification à l'API",
                "description": "Il est nécessaire d'appeler cette route afin de s'authentifier à l'API. Celle-ci renvoie un token JWT en cas de succès. Ce token est valable 1 heure par défaut.",
                "operationId": "App\\Controller\\Api\\ApiController::login",
                "requestBody": {
                    "content": {
                        "application/x-www-form-urlencoded": {
                            "schema": {
                                "required": [
                                    "tag_rfid",
                                    "pin_number"
                                ],
                                "properties": {
                                    "tag_rfid": {
                                        "description": "Tag RFID",
                                        "type": "string",
                                        "example": "123456"
                                    },
                                    "pin_number": {
                                        "description": "Numéro d'identification personnel",
                                        "type": "string",
                                        "example": "32164"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Token JWT",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "token": {
                                            "type": "string",
                                            "example": "eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJodHRwOlwvXC9sb2NhbGhvc3Q6ODAwMFwvYXBpXC9sb2dpbiIsImF1ZCI6Imh0dHA6XC9cL2xvY2FsaG9zdDo4MDAwXC9hcGkiLCJpYXQiOjE1ODc0NjQ3MjAsImV4cCI6MTU4NzQ2ODMyMH0.Dg4YTnlQnESWNzKs25dajb8_XMQdeAfkxMM62RjjlHE"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/unauthorized"
                    },
                    "400": {
                        "$ref": "#/components/responses/bad_request"
                    }
                }
            }
        },
        "/transaction": {
            "post": {
                "tags": [
                    "paybeer"
                ],
                "summary": "Ajoute une nouvelle transaction",
                "description": "Cette transaction peut être un débit ou bien un crédit selon le signe de la valeur.",
                "operationId": "App\\Controller\\Api\\ApiController::transaction",
                "requestBody": {
                    "content": {
                        "application/x-www-form-urlencoded": {
                            "schema": {
                                "required": [
                                    "tag_rfid",
                                    "amount",
                                    "num_terminal",
                                    "admin_id"
                                ],
                                "properties": {
                                    "tag_rfid": {
                                        "description": "Tag RFID",
                                        "type": "string",
                                        "example": "123456"
                                    },
                                    "amount": {
                                        "description": "Montant de la transaction (positif ou négatif)",
                                        "type": "integer",
                                        "example": "15"
                                    },
                                    "num_terminal": {
                                        "description": "Numéro du terminal utilisé pour effectuer la transaction",
                                        "type": "integer",
                                        "default": "1",
                                        "example": "1"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Transaction créée"
                    },
                    "401": {
                        "$ref": "#/components/responses/unauthorized"
                    },
                    "400": {
                        "$ref": "#/components/responses/bad_request"
                    }
                },
                "security": [
                    {
                        "jwt": []
                    }
                ]
            }
        },
        "/new-user": {
            "post": {
                "tags": [
                    "paybeer"
                ],
                "summary": "Ajoute un nouvel utilisateur",
                "description": "Si le tag RFID existe déjà en base de donnée, dans ce cas l'API renvoie une erreur de type 400",
                "operationId": "App\\Controller\\Api\\ApiController::newUser",
                "requestBody": {
                    "content": {
                        "application/x-www-form-urlencoded": {
                            "schema": {
                                "required": [
                                    "tag_rfid"
                                ],
                                "properties": {
                                    "tag_rfid": {
                                        "description": "Tag RFID",
                                        "type": "string",
                                        "example": "123456"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Utilisateur ajouté"
                    },
                    "401": {
                        "$ref": "#/components/responses/unauthorized"
                    },
                    "400": {
                        "description": "Si le tag RFID existe déjà en base de donnée ou que les paramètres sont incorrects",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "jwt": []
                    }
                ]
            }
        }
    },
    "components": {
        "schemas": {
            "Error": {
                "required": [
                    "code",
                    "message"
                ],
                "properties": {
                    "code": {
                        "type": "string"
                    },
                    "message": {
                        "type": "string"
                    }
                },
                "type": "object"
            }
        },
        "responses": {
            "unauthorized": {
                "description": "Non-authorisé",
                "content": {
                    "application/json": {
                        "schema": {
                            "$ref": "#/components/schemas/Error"
                        }
                    }
                }
            },
            "bad_request": {
                "description": "Paramètres incorrects",
                "content": {
                    "application/json": {
                        "schema": {
                            "$ref": "#/components/schemas/Error"
                        }
                    }
                }
            }
        },
        "securitySchemes": {
            "jwt": {
                "type": "http",
                "description": "Les JSON Web Tokens sont utilisés pour authoriser l'API. On peut en récupéré un grâce à la route /login.",
                "bearerFormat": "JWT",
                "scheme": "bearer"
            }
        }
    },
    "tags": [
        {
            "name": "paybeer",
            "description": "Routes de base pour la communication avec les terminaux de paiement"
        }
    ]
}