{% extends 'layout.html.twig' %}

{% block body %}

    <div class="text-center">
        <h1 class="display-3">Page d'introuvable</h1>
        <h2 class="h3 lead mt-5">La page que vous rechercher est introuvable</h2>
        <i class="fa fa-frown mt-5" style="font-size: 7rem"></i>
    </div>

{% endblock %}

