{% extends "base.html.twig" %}

{% block body %}

    <div class="col-12 page-content">
        {% block page %}
        {% endblock %}
    </div>

    {% block footer %}
    {% endblock %}

{% endblock %}