{% extends "layout.html.twig" %}

{% block main %}
    <h1>Liste des utilisateurs</h1>
    <hr>
    <form method="get">
        <div class="form-group">
            <label for="search" class="sr-only"></label>
            <input type="search" class="form-control mb-3" id="search" name="q" placeholder="Rechercher ...">
        </div>
    </form>
    <table class="table">
        <thead>
        <tr>
            <th>#</th>
            <th>Nom</th>
            <th>Prénom</th>
            <th>Statut</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.lastname }}</td>
                <td>{{ user.firstname }}</td>
                <td>{{ user.status }}</td>
                <td>
                    <a href="#" class="btn btn-sm btn-info"><i class="fa fa-user-edit"></i></a>
                    <a href="#" class="btn btn-sm btn-danger"><i class="fa fa-user-minus"></i></a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
